.broccoli-darkblue {
    color: #1d457c;
}

.broccoli-green {
    color: #73d6a9;
}

.broccoli-red {
    color: #f87060;
}

.broccoli-brown {
    color: #b3a394;
}

.broccoli-darkblue-bg {
    background-color: #1d457c;
}

.broccoli-green-bg {
    background-color: #73d6a9;
}

.broccoli-red-bg {
    background-color: #f87060;
}

.broccoli-brown-bg {
    background-color: #b3a394;
}